<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/fonts/fonts.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/admin/dashboard.css">
    <link rel="stylesheet" href="/assets/fontawesome/css/fontawesome.min.css">
    <link href="/assets/fontawesome/css/solid.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="NonavbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <span class="navbar-text text-white mr-3">
      Hello {{ .user }}
    </span>
        <span class="navbar-text text-white">
            Logout
        </span>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-sm-3 mb-5">
            <div class="shadow rounded-lg overflow-hidden" onclick="showInventory()">
                <div class="row">
                    <div class="col-6 py-5 pl-5">
                        Inventory
                    </div>
                    <div class="col-6 pt-3 card-image-container bg-danger">
                        <i class="fas fa-archive position-absolute text-white"
                           style="font-size: 6rem;
                           font-weight: 500;"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-3 mb-5">
            <div class="shadow rounded-lg overflow-hidden" onclick="showVendor()">
                <div class="row">
                    <div class="col-6 py-5 pl-5">
                        Vendor
                    </div>
                    <div class="col-6 pt-3 card-image-container bg-dark">
                        <i class="fas fa-building position-absolute text-white"
                           style="font-size: 6rem;
                           font-weight: 500;"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-3 mb-5">
            <div class="shadow rounded-lg overflow-hidden" onclick="showTask()">
                <div class="row">
                    <div class="col-6 py-5 pl-5">
                        Task
                    </div>
                    <div class="col-6 pt-3 card-image-container bg-primary">
                        <i class="fas fa-tasks position-absolute text-white"
                           style="font-size: 6rem;
                           font-weight: 500;"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-3 mb-5">
            <div class="shadow rounded-lg overflow-hidden" onclick="showOrder()">
                <div class="row">
                    <div class="col-6 py-5 pl-5">
                        Order
                    </div>
                    <div class="col-6 pt-3 card-image-container bg-info">
                        <i class="fas fa-shopping-basket position-absolute text-white"
                           style="font-size: 6rem;
                           font-weight: 500;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-none d-sm-block">{{/*
        <div class="row justify-content-between">
            <div class="col-sm-6">
                <div class="rounded shadow">
                    <div class="p-3 bg-danger text-white">
                        Latest Product
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Vendor</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range $index, $value := .latestProduct }}
                        <tr>
                            <th scope="row">{{ add $index 1 }}</th>
                            <td>{{ .Name }}</td>
                            <td>{{ .Price}}</td>
                            <td>{{ .VendorID }}</td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="rounded shadow">
                    <div class="p-3 bg-dark text-white">
                        Latest Vendor
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Location</th>
                            <th scope="col">About</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range $index, $value := .latestVendor }}
                        <tr>
                            <th scope="row">{{ add $index 1 }}</th>
                            <td>{{ .VendorName }}</td>
                            <td>{{ .VendorLocation}}</td>
                            <td>{{ .VendorDescription }}</td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row justify-content-between my-3">
            <div class="col-sm-6">
                <div class="rounded shadow">
                    <div class="p-3 bg-primary text-white">
                        Pending Task
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="rounded shadow">
                    <div class="p-3 bg-info text-white">
                        Latest Order
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Order ID</th>
                            <th scope="col">Status</th>
                            <th scope="col">Total Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range $index, $value := .latestOrder }}
                        <tr>
                            <th scope="row">{{ add $index 1 }}</th>
                            <td>{{ .OrderID }}</td>
                            <td>{{ .Status }}</td>
                            <td>{{ .TotalPrice }}</td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    */}}</div>
</div>
<script src="/assets/js/admin/admin.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>