<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/fonts/fonts.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/admin/dashboard.css">
    <link rel="stylesheet" href="/assets/fontawesome/css/fontawesome.min.css">
    <link href="/assets/fontawesome/css/solid.css" rel="stylesheet">
</head>
<body>

{{ include "/admin/navbar.html" }}

<div class="container mt-5">

{{ include "admin/menu.html"}}

    <div class="d-none d-sm-block">
        <div class="row justify-content-between">
            <div class="col-sm-6">
                <div class="rounded shadow">
                    <div class="p-3 bg-danger text-white">
                        Latest Product
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Vendor</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range $index, $value := .latestProduct }}
                        <tr>
                            <th scope="row">{{ add $index 1 }}</th>
                            <td>{{ .Name }}</td>
                            <td>{{ .Price}}</td>
                            <td>{{ .VendorName }}</td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="rounded shadow">
                    <div class="p-3 bg-dark text-white">
                        Latest Vendor
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Location</th>
                            <th scope="col">About</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range $index, $value := .latestVendor }}
                        <tr>
                            <th scope="row">{{ add $index 1 }}</th>
                            <td>{{ .VendorName }}</td>
                            <td>{{ .VendorLocation}}</td>
                            <td>{{ .VendorDescription }}</td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row justify-content-between my-3">
            <div class="col-sm-6">
                <div class="rounded shadow">
                    <div class="p-3 bg-primary text-white">
                        Latest User
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="rounded shadow">
                    <div class="p-3 bg-info text-white">
                        Latest Order
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Order ID</th>
                            <th scope="col">Status</th>
                            <th scope="col">Total Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range $index, $value := .latestOrder }}
                        <tr>
                            <th scope="row">{{ add $index 1 }}</th>
                            <td>{{ .OrderID }}</td>
                            <td>{{ .Status }}</td>
                            <td>{{ .TotalPrice }}</td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/admin/admin.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>