<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/fonts/fonts.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/admin/dashboard.css">
    <link rel="stylesheet" href="/assets/fontawesome/css/fontawesome.min.css">
    <link href="/assets/fontawesome/css/solid.css" rel="stylesheet">
</head>
<body>

{{ include "/admin/navbar.html" }}

<div class="container mt-5">

{{ include "admin/menu.html"}}

    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="shadow">
                <div class="p-3 bg-danger text-white d-flex justify-content-between align-items-center">
                    <span class="font-hk-grotesk">Add Product</span>
                    <i class="fas fa-chevron-down ml-3 hvr-cursor-pointer" data-toggle="collapse"
                       data-target="#addProductForm" aria-expanded="false" aria-controls="addProductForm"
                       style="font-size: 2rem"></i>
                </div>
                <div class="px-3 py-3 collapse" id="addProductForm">
                    <form method="POST" action="" name="productForm" id="productForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="name">Product Name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="quantity">Product Quantity</label>
                            <input type="text" class="form-control" id="quantity" name="quantity" required>
                        </div>
                        <div class="form-group">
                            <label for="price">Product Price</label>
                            <input type="text" class="form-control" id="price" name="price" required>
                        </div>
                        <div class="form-group">
                            <label for="image">Product Image</label>
                            <input type="file" accept="image/*" class="form-control-file" name="image" id="image"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput4">Product Vendor</label>
                            <select class="form-control" id="formGroupExampleInput4" name="vendorName">
                            {{ range $index, $value := .vendorNames }}
                                <option>{{ $value }}</option>
                            {{ end }}
                            </select>
                        </div>
                        <div class="form-group d-flex justify-content-end">
                            <input type="submit" value="Add Product" class="btn btn-danger">
                        </div>
                    {{ if .isResult }}
                        <div class="form-group d-flex justify-content-center">
                        {{ if .isError }}
                            <p class="text-danger"> {{ .resultMessage }} </p>
                        {{ else }}
                            <p class="text-success"> {{.resultMessage }}</p>
                        {{ end}}
                        </div>
                    {{ end}}
                    </form>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="shadow">
                <div class="p-3 bg-danger text-white d-flex justify-content-between align-items-center">
                    <span class="font-hk-grotesk">Most Purchased Product</span>
                    <i class="fas fa-chevron-down ml-3 hvr-cursor-pointer" data-toggle="collapse"
                       data-target="#mostPurchasedProduct" aria-expanded="false" aria-controls="mostPurchasedProduct"
                       style="font-size: 2rem"></i>
                </div>
                <div class="collapse" id="mostPurchasedProduct">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Purchased</th>
                            <th scope="col">Vendor</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range $index, $value := .mostPurchasedProduct }}
                        <tr>
                            <th scope="row">{{ add $index 1 }}</th>
                            <td>{{ .Name }}</td>
                            <td>{{ .Price }}</td>
                            <td>{{ .Purchased }}</td>
                            <td>{{ .VendorName }}</td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-none">

    </div>

    <div class="row mt-5">
        <div class="col-12">
            <div class="shadow">
                <div class="p-3 bg-danger text-white d-flex justify-content-between align-items-center">
                    All Product
                    <form class="form-inline" method="POST">
                        <input class="form-control mr-sm-2" type="search" name="searchKey" placeholder="Search"
                               aria-label="Search">
                        <button class="btn bg-white text-danger my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            {{ if .isDeleted }}
                <div class="text-center py-3">
                    <span class="text-success">{{ .resultDelete }}</span>
                </div>
            {{ end }}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Purchased</th>
                        <th scope="col">Image Url</th>
                        <th scope="col">Vendor</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range $index, $value := .allProduct }}
                    <tr>
                        <th scope="row">{{ add $index 1 }}</th>
                        <td>{{ .Name }}</td>
                        <td>{{ .Price }}</td>
                        <td> {{ .Quantity }}</td>
                        <td>{{ .Purchased }}</td>
                        <td><a href="{{ .ImageUrl }}" target="_blank">{{ .ImageUrl }}</a></td>
                        <td>{{ .VendorName }}</td>
                        <td>
                            <button class="btn btn-primary" onclick="showProductDetail({{ .ID }})">Edit</button>
                            <button class="btn btn-danger" onclick="deleteProduct({{ .ID }})">Delete</button>
                        </td>
                    </tr>
                    {{end}}
                    </tbody>
                </table>
            {{ if isExist .searchMessage }}
                <div class="text-center py-3">
                    <span class="text-danger">{{ .searchMessage }}</span>
                </div>
            {{ end }}
            </div>
        </div>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="/assets/js/admin/admin.js"></script>
</body>
</html>