<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>

    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/login_screen.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="d-flex col-12 col-sm-6 login-screen-right-section h-100 order-sm-12 pr-5 ">
            <div class="align-self-center text-white">
                <h1> NAMA WEBSITE </h1>
                <p class="d-none d-sm-block text-white-50">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
                <button class="p-2 shadow btn-primary mt-5 login-screen-request-btn text-primary hvr-float-shadow"
                        value="Request an account">Request an account
                </button>
            </div>
        </div>


        <div class="d-flex col-12 col-sm-6 order-sm-1">
            <div class="d-flex align-self-center justify-content-center w-100">
                <form>
                    <div class="d-flex justify-content-center">
                        <h1> NAMA APPS </h1>
                    </div>
                    <div class="d-flex mb-1 justify-content-center">
                        <h4 class="text-black-50">
                            Sign into your account
                        </h4>
                    </div>
                    <div class="form-group">
                        <input class="form-control login-screen-text-field" type="text" placeholder="username"
                               name="username">
                    </div>
                    <div class="form-group">
                        <input class="form-control login-screen-text-field" type="password" placeholder="password"
                               name="password">
                    </div>
                    <div class="form-group">
                        <input class="rounded shadow p-2 btn-primary mt-5 login-screen-login-btn hvr-float-shadow" type="submit"
                               value="Login">
                    </div>
                </form>
            {{/*</div>*/}}
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>