@import "ubuntu/stylesheet.css";
@import "montserrat/stylesheet.css";
@import "poppins/stylesheet.css";
@import "hk_grotesk/stylesheet.css";

.font-ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif ;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.font-hk-grotesk {
    font-family: 'HK Grotesk', sans-serif;
}